@{
    ViewBag.Title = "Home Page";
}

<h1>地址連動的功能</h1>

<div>
    <label for="CityList">Cities</label>
    @Html.DropDownList("CityList")

    <label for="RegionList">Regions</label>
    @Html.DropDownList("RegionList")

</div>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#CityList').change(function(){
            $('#RegionList option').remove();
            $.getJSON('/home/GetRegions', { CityId: $('#CityList').val() }, function (data) {
                $.each(data, function () {
                    $('#RegionList').append('<option value=' + this.RegionId + '>' + this.RegionName + '</option>');
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Error getting Regions');

            });
        });
    });
</script>

























@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
